body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:2220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:206px;
  width:1580px;
  height:2220px;
  display:flex;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:361px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2426px;
  width:1800px;
  height:361px;
  display:flex;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#00BFBF;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:265px;
  width:204px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#00BFBF;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:210px;
  height:11px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:354px;
  width:204px;
  height:5px;
  display:flex;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:265px;
  width:204px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:2031px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:0px 2px 16px rgba(231, 231, 231, 1);
  -webkit-box-shadow:0px 2px 16px rgba(231, 231, 231, 1);
  box-shadow:0px 2px 16px rgba(231, 231, 231, 1);
}
#u878 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:395px;
  width:1442px;
  height:2031px;
  display:flex;
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:41px;
  color:#000000;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:434px;
  width:690px;
  height:73px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:41px;
  color:#000000;
}
#u879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#9A9A9B;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:559px;
  width:126px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#9A9A9B;
}
#u880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:447px;
  width:48px;
  height:48px;
  display:flex;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:447px;
  width:48px;
  height:48px;
  display:flex;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:447px;
  width:48px;
  height:48px;
  display:flex;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:447px;
  width:48px;
  height:48px;
  display:flex;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:1781px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:645px;
  width:1255px;
  height:1781px;
  display:flex;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:204px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2B3134;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:1800px;
  height:204px;
  display:flex;
  color:#2B3134;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:98px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:602px;
  height:98px;
  display:flex;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1801px;
  height:2px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1800px;
  height:1px;
  display:flex;
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:116px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:116px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:116px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:116px;
  width:153px;
  height:90px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:116px;
  width:202px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:116px;
  width:221px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:76px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:38px;
  color:#FFFFFF;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:24px;
  width:230px;
  height:76px;
  display:flex;
  font-size:38px;
  color:#FFFFFF;
}
#u895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:13px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:200px;
  width:30px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(-0.316810227819054deg);
  -moz-transform:rotate(-0.316810227819054deg);
  -ms-transform:rotate(-0.316810227819054deg);
  transform:rotate(-0.316810227819054deg);
}
#u896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:7px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:202px;
  width:30px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.316810227819054deg);
  -moz-transform:rotate(-0.316810227819054deg);
  -ms-transform:rotate(-0.316810227819054deg);
  transform:rotate(-0.316810227819054deg);
  font-size:9px;
}
#u897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:80px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:116px;
  width:153px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:209px;
  height:7px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:204px;
  width:205px;
  height:3px;
  display:flex;
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:88px;
  background:inherit;
  background-color:rgba(128, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:116px;
  width:205px;
  height:88px;
  display:flex;
  opacity:0.5;
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:204px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2B3134;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1800px;
  height:204px;
  display:flex;
  color:#2B3134;
}
#u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:98px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:7px;
  width:602px;
  height:98px;
  display:flex;
}
#u903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1801px;
  height:2px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1800px;
  height:1px;
  display:flex;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:114px;
  width:202px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:114px;
  width:221px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:76px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:38px;
  color:#FFFFFF;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:22px;
  width:230px;
  height:76px;
  display:flex;
  font-size:38px;
  color:#FFFFFF;
}
#u911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:13px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:198px;
  width:30px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(-0.316810227819054deg);
  -moz-transform:rotate(-0.316810227819054deg);
  -ms-transform:rotate(-0.316810227819054deg);
  transform:rotate(-0.316810227819054deg);
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:7px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:200px;
  width:30px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.316810227819054deg);
  -moz-transform:rotate(-0.316810227819054deg);
  -ms-transform:rotate(-0.316810227819054deg);
  transform:rotate(-0.316810227819054deg);
  font-size:9px;
}
#u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:80px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:114px;
  width:153px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:209px;
  height:7px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:202px;
  width:205px;
  height:3px;
  display:flex;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:88px;
  background:inherit;
  background-color:rgba(128, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:114px;
  width:205px;
  height:88px;
  display:flex;
  opacity:0.5;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
