body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:704px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:206px;
  width:1580px;
  height:704px;
  display:flex;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:361px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:910px;
  width:1800px;
  height:361px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:353px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:412px;
  width:348px;
  height:353px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:353px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:412px;
  width:348px;
  height:353px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:353px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:412px;
  width:348px;
  height:353px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:353px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:412px;
  width:348px;
  height:353px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#00BFBF;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:264px;
  width:204px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#00BFBF;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:210px;
  height:11px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:353px;
  width:204px;
  height:5px;
  display:flex;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:264px;
  width:204px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:204px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2B3134;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1800px;
  height:204px;
  display:flex;
  color:#2B3134;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:98px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:7px;
  width:602px;
  height:98px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1801px;
  height:2px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1800px;
  height:1px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:114px;
  width:153px;
  height:90px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:114px;
  width:202px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:90px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:114px;
  width:221px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:76px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:38px;
  color:#FFFFFF;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:22px;
  width:230px;
  height:76px;
  display:flex;
  font-size:38px;
  color:#FFFFFF;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:13px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:198px;
  width:30px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(-0.316810227819054deg);
  -moz-transform:rotate(-0.316810227819054deg);
  -ms-transform:rotate(-0.316810227819054deg);
  transform:rotate(-0.316810227819054deg);
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:7px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:201px;
  width:30px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.316810227819054deg);
  -moz-transform:rotate(-0.316810227819054deg);
  -ms-transform:rotate(-0.316810227819054deg);
  transform:rotate(-0.316810227819054deg);
  font-size:9px;
}
#u599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:80px;
  background:inherit;
  background-color:rgba(43, 49, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 49, 52, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:114px;
  width:153px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:209px;
  height:7px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:202px;
  width:205px;
  height:3px;
  display:flex;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:88px;
  background:inherit;
  background-color:rgba(128, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:114px;
  width:205px;
  height:88px;
  display:flex;
  opacity:0.5;
}
#u603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
